.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}
.modal__container {
  margin: auto;
  max-width: 430px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  position: relative;
}
.modal__close {
  background: transparent url(../images/Close.svg) center no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: 0.1s ease;
}
.modal__close:hover {
  opacity: 0.6;
}
.modal__heading {
  max-width: 330px;
  margin: 34px 64px 0 36px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
}
.modal__container_type_delete {
  max-width: 430px;
  max-height: 181px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
  position: relative;
  padding: 34px 0 36px;
}
.modal__heading-delete {
  max-width: 358px;
  flex-shrink: 0;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  padding: 0 36px 0;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  margin-top: 48px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease;
}
.modal__button_type_delete {
  margin-top: 0;
}
.modal__button:hover {
  opacity: 0.8;
}
.modal__button span {
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  max-width: 109px;
}
.modal__button_disabled {
  background-color: gray;
  opacity: 0.2;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s linear;
}
.modal__container_type_image {
  padding: 0;
  max-height: 75vh;
  max-width: 75vw;
  display: flex;
  background: none;
  width: auto;
  height: auto;
}
.modal__popup-image {
  object-fit: cover;
  max-width: 100%;
}
.modal__popup-caption {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  color: #fff;
  margin: 0;
  font-size: 12px;
  font-family: "inter", Arial, sans-serif;
}
.modal__heading-avatar {
  max-width: 330px;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 34px 64px 0 36px;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  }
  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
  }
  .modal__heading {
    max-width: 238px;
    margin: 25px 22px 0;
    font-size: 18px;
    line-height: normal;
  }
  .modal__button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
  }
  .modal__button span {
    font-size: 14px;
  }
}
